.search-container {
  position: fixed;
  top: 50%;
  left: 50%;
  display: inline-block;
  transform: translate(-50%, -50%);
}

.search-box {
  width: 600px;
  height: 80px;
  border: solid 3px #4a90e2;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.search-box-input-container {
  position: fixed;
  top: 50%;
  transform: translate(0%, -50%);
}
.search-box-placeholder {
  float: right;
  margin-left: 20px;
  width: 250px;
  height: 31px;
  font-family: NanumSquare;
  font-size: 28px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #4a4a4a;
  border-width: 0;
}

.search-icon {
  width: 28px;
  height: 28px;
  margin-left: 30px;
  /* background-color: #8e8e93; */
}
