Header {
  text-align: center;
}

.Header-header {
  /* background-color: ; */
  height: 65px;
  padding: 20px;
  color: white;
}

.Header-logo {
  /* animation: Header-logo-spin infinite 20s linear; */
  width: 101px;
  height: 34px;
  object-fit: contain;
}
